BODY 
{
	height: 100%;
	border: 2px solid #CC9900;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: .9em;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #377495;
	padding: 20px;
}

A {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: .9em;
	font-weight: normal;
	color: #FFFFFF;
}
a:hover {
	color: #CC6600;
}
a:active {
	color: #CC6600;
}
.highlightNode 
{
	background-color: #6495ED;
}
table{
	cell-spacing: 0;
	padding: { 0, 0, 0, 0 };
}

