<?xml version="1.0" encoding="ISO-8859-1"?>

<!--L
   Copyright SAIC

   Distributed under the OSI-approved BSD 3-Clause License.
   See http://ncip.github.com/cabio/LICENSE.txt for details.
L-->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>

  <!-- Action Servlet Configuration -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>

    <!-- Struts Config -->
    <init-param>
      <param-name>application</param-name>
      <param-value>ApplicationResources</param-value>
    </init-param>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

 <servlet>
  <servlet-name>criteriaTreeEventHandler</servlet-name>
  <servlet-class>gov.nih.nci.caBIOApp.ui.tree.TreeEventHandler</servlet-class>

  <!--
    The directory where images, css, and javascript stuff is found.
  -->
  <init-param>
   <param-name>relativeSkinDir</param-name>
   <param-value>skin</param-value>
  </init-param>

  <!--
   The request scope attribute key under which the given
   DefaultMutableTreeModel can be found. It is also the
   request scope attribute key under which this servlet
   will store the model during processing.
  -->
  <init-param>
   <param-name>treeKeyName</param-name>
   <param-value>caBIOApp.ui.tree.criteriaTree</param-value>
  </init-param>

  <init-param>
   <param-name>treeActionParamName</param-name>
   <param-value>caBIOApp.ui.treeAction</param-value>
  </init-param>
  <init-param>
   <param-name>nodeIdParamName</param-name>
   <param-value>caBIOApp.ui.nodeId</param-value>
  </init-param>
  <init-param>
   <param-name>treeDisplayJSPName</param-name>
   <param-value>/criteriaTreeDisplay.jsp</param-value>
  </init-param>
  <init-param>
   <param-name>treeBeanKeyName</param-name>
   <param-value>criteriaTreeBean</param-value>
  </init-param>
  <init-param>
   <param-name>treeBeanClassname</param-name>
   <param-value>gov.nih.nci.caBIOApp.ui.tree.CriteriaSummaryTreeBean</param-value>
  </init-param>
 </servlet>

 <servlet>
  <servlet-name>objectTreeEventHandler</servlet-name>
  <servlet-class>gov.nih.nci.caBIOApp.ui.tree.TreeEventHandler</servlet-class>

  <!--
    The directory where images, css, and javascript stuff is found.
  -->
  <init-param>
   <param-name>relativeSkinDir</param-name>
   <param-value>skin</param-value>
  </init-param>

  <!--
   The request scope attribute key under which the given
   DefaultMutableTreeModel can be found. It is also the
   request scope attribute key under which this servlet
   will store the model during processing.
  -->
  <init-param>
   <param-name>treeKeyName</param-name>
   <param-value>caBIOApp.ui.tree.objectTree</param-value>
  </init-param>

  <init-param>
   <param-name>treeActionParamName</param-name>
   <param-value>caBIOApp.ui.treeAction</param-value>
  </init-param>
  <init-param>
   <param-name>nodeIdParamName</param-name>
   <param-value>caBIOApp.ui.nodeId</param-value>
  </init-param>
  <init-param>
   <param-name>treeDisplayJSPName</param-name>
   <param-value>/objectTreeDisplay.jsp</param-value>
  </init-param>
  <init-param>
   <param-name>treeBeanKeyName</param-name>
   <param-value>objectTreeBean</param-value>
  </init-param>
 </servlet>

 <servlet>
  <servlet-name>pageCaBIODataEventHandler</servlet-name>
  <servlet-class>gov.nih.nci.caBIOApp.ui.pager.PagerEventHandler</servlet-class>
  <init-param>
   <param-name>initialForward</param-name>
   <param-value>/browseData.jsp</param-value>
  </init-param>
  <init-param>
   <param-name>scrollForward</param-name>
   <param-value>/browseData_upper.jsp</param-value>
  </init-param>
  <init-param>
   <param-name>selectForward</param-name>
   <param-value>/browseData_upper.jsp</param-value>
  </init-param>
  <init-param>
   <param-name>deselectForward</param-name>
   <param-value>/browseData_lower.jsp</param-value>
  </init-param>
  <init-param>
   <param-name>finishForward</param-name>
   <param-value>/browseObjectInstances_finish.jsp</param-value>
  </init-param>
<!--
  <init-param>
   <param-name>pagerBeanKeyName</param-name>
   <param-value>someOtherName</param-value>
  </init-param>
-->
 </servlet>

 <servlet>
  <servlet-name>testPaging</servlet-name>
  <servlet-class>gov.nih.nci.caBIOApp.ui.pager.PagerEventHandler</servlet-class>
  <init-param>
   <param-name>initialForward</param-name>
   <param-value>/queryTestResults.jsp</param-value>
  </init-param>
  <init-param>
   <param-name>scrollForward</param-name>
   <param-value>/queryTestResults.jsp</param-value>
  </init-param>
 </servlet>

 <servlet>
  <servlet-name>browse</servlet-name>
  <servlet-class>gov.nih.nci.caBIOApp.ui.pager.PagerEventHandler</servlet-class>
  <init-param>
   <param-name>initialForward</param-name>
   <param-value>/browse.jsp</param-value>
  </init-param>
  <init-param>
   <param-name>scrollForward</param-name>
   <param-value>/browse.jsp</param-value>
  </init-param>
  <init-param>
   <param-name>dataSourceKeyName</param-name>
   <param-value>browserDatasource</param-value>
  </init-param>
  <init-param>
   <param-name>pagerBeanKeyName</param-name>
   <param-value>browserBean</param-value>
  </init-param>
 </servlet>

 <servlet>
  <servlet-name>pageReport</servlet-name>
  <servlet-class>gov.nih.nci.caBIOApp.ui.pager.PagerEventHandler</servlet-class>
  <init-param>
   <param-name>initialForward</param-name>
   <param-value>/pageReport.jsp</param-value>
  </init-param>
  <init-param>
   <param-name>scrollForward</param-name>
   <param-value>/pageReport.jsp</param-value>
  </init-param>
  <init-param>
   <param-name>dataSourceKeyName</param-name>
   <param-value>reportDatasource</param-value>
  </init-param>
  <init-param>
   <param-name>pagerBeanKeyName</param-name>
   <param-value>reportBean</param-value>
  </init-param>
 </servlet>

 <servlet>
  <servlet-name>startup</servlet-name>
  <servlet-class>gov.nih.nci.caBIOApp.ui.StartupServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>

 <servlet>
  <servlet-name>ocl</servlet-name>
  <servlet-class>gov.nih.nci.common.search.cache.ObjectCacheLoaderServlet</servlet-class>
 </servlet>

  <!-- Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>criteriaTreeEventHandler</servlet-name>
    <url-pattern>/criteriaTreeHandler</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>objectTreeEventHandler</servlet-name>
    <url-pattern>/objectTreeHandler</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>pageCaBIODataEventHandler</servlet-name>
    <url-pattern>/pageCaBIODataHandler</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>testPaging</servlet-name>
    <url-pattern>/testPaging</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>browse</servlet-name>
    <url-pattern>/browse</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>pageReport</servlet-name>
    <url-pattern>/pageReport</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ocl</servlet-name>
    <url-pattern>/ocl</url-pattern>
  </servlet-mapping>

  <session-config>
   <session-timeout>1440</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
   <exception-type>java.lang.Exception</exception-type>
   <location>/logError.jsp</location>
  </error-page>

  <!-- Struts Tag Library Descriptors -->
  <taglib>
    <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/struts-form.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-form.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-template.tld</taglib-location>
  </taglib>

</web-app>

