<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>caBIO Portlets</display-name>

    <description>caBIO Portlets</description>

    <!--
       - Key of the system property that should specify the root directory of this
       - web app. Applied by WebAppRootListener or Log4jConfigListener.
       -->
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>cabioportlets.root</param-value>
    </context-param>

    <!--
       - Location of the Log4J config file, for initialization and refresh checks.
       - Applied by Log4jConfigListener.
       -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>

    <context-param>
        <param-name>company_id</param-name>
        <param-value>liferay.com</param-value>
    </context-param>
    
    <!--
       - Configures Log4J for this web app.
       - As this context specifies a context-param "log4jConfigLocation", its file path
       - is used to load the Log4J configuration, including periodic refresh checks.
       -
       - Would fall back to default Log4J initialization (non-refreshing) if no special
       - context-params are given.
       -
       - Exports a "web app root key", i.e. a system property that specifies the root
       - directory of this web app, for usage in log file paths.
       - This web app specifies "petportal.root" (see log4j.properties file).
       -->
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    
    <listener>
        <listener-class>com.liferay.portal.kernel.servlet.PortletContextListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>PortletActionServlet</servlet-name>
        <servlet-class>com.liferay.util.apache.bridges.struts.LiferayPortletServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>PortletActionServlet</servlet-name>
        <url-pattern>/portlet_action/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>proxy</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>proxy</servlet-name>
        <url-pattern>/proxy/*</url-pattern>
    </servlet-mapping>

    <taglib>
        <taglib-uri>http://java.sun.com/portlet</taglib-uri>
        <taglib-location>/WEB-INF/tld/liferay-portlet.tld</taglib-location>
    </taglib>
    
    <taglib>
        <taglib-uri>http://struts.apache.org/tags-bean</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
    </taglib>
    
    <taglib>
        <taglib-uri>http://portals.apache.org/bridges/struts/tags-portlet-html</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-portlet-html.tld</taglib-location>
    </taglib>
    
    <taglib>
        <taglib-uri>http://struts.apache.org/tags-logic</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
    </taglib>
    
    <taglib>
        <taglib-uri>http://struts.apache.org/tags-nested</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
    </taglib>
    
    <taglib>
        <taglib-uri>http://struts.apache.org/tags-tiles</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
    </taglib>
    
</web-app>