body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	line-height: normal;
	color: #947927;
}
td {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #003366;
	vertical-align: 6%;

}
A {
	color: #003366;

}

.highlightNode 
{
	background-color: #B7D1E8;
}
a:link {
	color: #003366;
}
a:visited {
	color: #3F6798;
}
a:hover {
	color: #996600;
}
a:active {
	color: #003366;
}
.dashedline {

	border-bottom-width: thin;
	border-bottom-style: dashed;
	border-bottom-color: #E7E3CF;
}
